span.title {
    text-decoration: none;
    color: #FF8A00;
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 5rem;
}

span.subtitle {
    color: black;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 5rem;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 2rem 5rem !important;
}

img#worker {
    height: inherit !important;
    width: auto !important;
}

.container mat-expansion-panel {
    align-content: center;
}

.title-request {
    font-size: 24px;
    font-weight: 500;
}

.body-request {
    text-align: start;
    font-size: 18px;
}

.name-request {
    text-align: end;
    font-size: 16px;
    font-weight: 300;
}