table.mat-table {
    width: -webkit-fill-available;
    border-spacing: 0.2em;
}

mat-card.mat-card{
    width: 100%;
    height: 100%;
    border-spacing: 0.2em;
}

mat-card.mat-card.insertCard{
    width: 100%;
    height: 100%;
    border-spacing: 0.2em;
    padding: 1em 5em;
}

mat-form-field.mat-form-field.input{
    width: 100%;
}

mat-form-field.mat-form-field.select{
    width: 50%;
}

mat-form-field.mat-form-field.text{
    width: 100%;
    height: 50%;
}

.insertIcon{
    color: #FF8A00;
    float: right;
}